root = true

[*]
indent_style = space
indent_size = 4
dotnet_diagnostic.CA2000.severity = warning
dotnet_diagnostic.CA1822.severity = suggestion

[*.cs]
dotnet_style_qualification_for_field = false:suggestion
